# Filename: .clang-format
# Author: Olivier Sirol <czo@free.fr>
# License: GPL-2.0 (http://www.gnu.org/copyleft)
# File Created: 04 December 2018
# Last Modified: Sunday 09 July 2023, 16:15
# $Id: .clang-format,v 1.9 2023/07/09 14:16:56 czo Exp $
# Edit Time: 0:58:53
# Description:
#           C/C++/java beautifier / formatter
#           aptitude install clang-format
#
# Copyright: (C) 2018-2023 Olivier Sirol <czo@free.fr>

BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 0
#ColumnLimit: 80
#ColumnLimit: 90
#ColumnLimit: 132
