# Filename: .clang-format
# Author: Olivier Sirol <czo@free.fr>
# License: GPL-2.0 (http://www.gnu.org/copyleft)
# File Created: 04 December 2018
# Last Modified: Saturday 02 December 2023, 17:54
# $Id: .clang-format,v 1.12 2023/12/02 16:55:29 czo Exp $
# Edit Time: 19:46:33
# Description:
#           C/C++/java beautifier / formatter
#           aptitude install clang-format
#
# Copyright: (C) 2018-2023 Olivier Sirol <czo@free.fr>

BasedOnStyle: LLVM
UseTab: Never
# IndentWidth: 2
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
# ColumnLimit: 80
# ColumnLimit: 90
# ColumnLimit: 132
AllowShortIfStatementsOnASingleLine: true
SortIncludes: false
