#             ,,,
#            (o o)
####=====oOO--(_)--OOO==============================================####
#
# Filename: .gitconfig
# Author: Olivier Sirol <czo@free.fr>
# License: GPL-2.0 (http://www.gnu.org/copyleft)
# File Created: 12 mars 2011
# Last Modified: Wednesday 01 November 2023, 22:03
# $Id: .gitconfig,v 1.26 2023/11/02 10:42:13 czo Exp $
# Edit Time: 5:55:43
# Description:
#                 git conf file
#
# Copyright: (C) 2011-2023 Olivier Sirol <czo@free.fr>

[user]
    name     = czo
    ; username = Olivier Sirol
    email    = czo@free.fr
    ; email    = czodroid@gmail.com
    ; email    = spambazar@gmail.com
    ; email    = czo@ipgp.fr

[core]
    pager = cat

; [pull]
;     ff = only

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[difftool "vimdiff"]
    cmd = vim -d \"$REMOTE\" \"$LOCAL\"

[alias]
    b   = branch
    c1  = clone --depth 1
    co  = checkout
    ci  = commit
    d   = diff
    dt  = difftool
    f   = fetch
    fo  = fetch origin
    fu  = fetch upstream
    l   = log --oneline
    ll  = log --pretty=format:'%h %ad %d %s (%an)' --date=format-local:'%Y-%m-%d %H:%M:%S'
    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
    pst = push --tags

