#             ,,,
#            (o o)
####=====oOO==(_)==OOo==============================================####
#
# Filename: .prettierrc
# Author: Olivier Sirol <czo@free.fr>
# License: GPL-2.0 (http://www.gnu.org/copyleft)
# File Created: 04 Jan 2019
# Last Modified: Sunday 11 February 2024, 12:29
# $Id: .prettierrc,v 1.9 2024/02/11 11:37:56 czo Exp $
# Edit Time: 1:47:28
# vim: set filetype=config:
# Description:
#           html/css/js/ts/json  beautifier / formatter
#           npm install --save-dev --save-exact prettier
#           npm install -g prettier
#           @prettier/plugin-php and phpfmt: doesnt work!
#
# Copyright: (C) 2019-2024 Olivier Sirol <czo@free.fr>
#
endOfLine: lf
#printWidth: 250
printWidth: 132
#printWidth: 80
tabWidth: 2
useTabs: false
trailingComma: "es5"
semi: true
singleQuote: false
#phpVersion: "5.4"
#trailingCommaPHP: true
#braceStyle: "per-cs"
