!             ,,,
!            (o o)
! =======oOO==(_)==OOo==================================================
!
! Filename: .Xresources
! License: GPL-2.0 (http://www.gnu.org/copyleft)
! Author: Olivier Sirol <czo@free.fr>
! File Created: 28 mars 1996
! Last Modified: Sunday 11 February 2024, 11:43
! $Id: .Xresources,v 1.48 2024/02/11 10:52:00 czo Exp $
! Edit Time: 7:38:02
! Description:
!       X ressource file
!       can be merged to X defaults whith
!       xrdb -merge ~/.Xresources
!
! Copyright: (C) 1996-2024 Olivier Sirol <czo@free.fr>

Xft.dpi:        96
Xft.antialias:  1
Xft.hinting:    1
!Xft.hintstyle:  hintmedium
Xft.hintstyle:  hintfull
Xft.rgba:       none
!Xft.rgba:       rgb
!Xft.lcdfilter:  lcdlegacy

! 2004/05/26 :
! removed wheel scroll and other mozilla config, removed
! athena and motif widget overides, XOsview, rxvt, vim

! Xterm !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! my xterm terminfo is xterm-256color
XTerm*geometry: 90x26
XTerm*termName: xterm-256color
!en 1996
!XTerm*boldFont: 7x13bold
!XTerm*font:     7x13bold
!en 2012
!XTerm*boldFont: 10x20
!XTerm*font:     10x20
!en 2018, hé ouais, je suis presbyte...
XTerm*faceName: fixed:size=13
! i want bold font to be the same
!XTerm*boldMode: off
XTerm*allowBoldFonts: false

XTerm*SimpleMenu*font:       fixed
XTerm*SimpleMenu*foreground: black
XTerm*SimpleMenu*background: grey

XTerm*scrollBar:  false
XTerm*saveLines:  99000
XTerm*visualBell: false

! Cygwin X
XTerm*toolBar:        false
XTerm*allowTcapOps:   false

! i want Alt-X to send ESC-x but I prefer correct input of é : false
!XTerm*eightBitControl: false
!XTerm*eightBitOutput:  true
!XTerm*utf8: 2
XTerm*eightBitInput:   true

! xterm will use the pseudo-terminal s sense of the stty erase value
!XTerm*backarrowKey: true
!XTerm*ptyInitialErase: true
!XTerm*backarrowKeyIsErase: true

! Blinking cursor
XTerm*cursorBlink:        on
XTerm*cursorOnTime:       600
XTerm*cursorOffTime:      600

XTerm*allowSendEvents:    false
XTerm*sessionMgt:         false

! Xkeysym to terminal string translation
! This way my term understand Shift-Left...
! Standard VT102 string definitions unti <Key> Pause
! and the ones I use...
! Ctrl <Btn1Down>  : insert-selection(PRIMARY, CUT_BUFFER0) \n\

XTerm*vt100.Translations: #override\n\
  Shift Ctrl <KeyPress>V: insert-selection(PRIMARY, CUT_BUFFER0) \n\
  Shift <KeyPress>Insert: insert-selection(PRIMARY, CUT_BUFFER0) \n\
         Alt <KeyPress>v: insert-selection(PRIMARY, CUT_BUFFER0) \n

XTerm*colorMode:          on
XTerm*dynamicColors:      on
XTerm*colorBDMode:        on
XTerm*colorBLMode:        on
XTerm*colorULMode:        on
XTerm*colorITMode:        on

! These are the GRUVBOX64 colors
! fg and bg colors
XTerm*background:         #282828
XTerm*foreground:         #c9b788
XTerm*cursorColor:        #98971a
! Black + DarkGrey
XTerm*color0:             #282828
XTerm*color8:             #4a4239
! DarkRed + Red
XTerm*color1:             #cc241d
XTerm*color9:             #fb4934
! DarkGreen + Green
XTerm*color2:             #98971a
XTerm*color10:            #b8bb26
! DarkYellow + Yellow
XTerm*color3:             #fe8019
XTerm*color11:            #fabd2f
! DarkBlue + Blue
XTerm*color4:             #458588
XTerm*color12:            #83a598
! DarkMagenta + Magenta
XTerm*color5:             #b16286
XTerm*color13:            #d3869b
! DarkCyan + Cyan
XTerm*color6:             #689d6a
XTerm*color14:            #8ec07c
! LightGrey + White
XTerm*color7:             #c9b788
XTerm*color15:            #fbf1c7

! Bold, Underline, italic and strikethrough colors
XTerm*colorBD:            #fe8019
XTerm*colorBL:            #fabd2f
XTerm*colorUL:            #b16286
XTerm*colorIT:            #689d6a

! selection
XTerm*highlightColorMode: true
XTerm*highlightReverse:   false
XTerm*highlightColor:     #458588
XTerm*highlightTextColor: #fbf1c7

! eof
